* {
    margin: 0;
    padding: 0;
}

:root {
    font-family: "Alice", serif;
    line-height: 150%;
    color: #573A37;
}

body {
    background-image: url(./assets/bg.jpg);
    background-size: cover;
}

main {
    padding: 24px;
}

#about p + p {
    margin-top: 12px;
}

section + section {
    margin-top: 24px;
}

#page {
    box-sizing: border-box;
    width: 800px;
    padding: 24px;
    background-color: #F0E8C2;
    border-radius: 24px;
    margin: 48px auto 48px;

}

img {
    border-radius: 16px;
    margin-bottom: 4px;
}

h1 {
    color: #291B1A;
    font-size: 40px;
    line-height: 140%;
}

h2 {
    color: #291B1A;
    font-size: 24px;
    margin-bottom: 4px;
    line-height: 150%;
}

ul {
    padding-left: 24px;
}


p {
    font-size: 16px;
}
